<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/upload" method="post" enctype="multipart/form-data"
    style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: auto;">
    <label for="file">File :</label>
    <input type="file" name="file" id="file" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <!-- <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword"> -->
    <button type="submit" style="grid-template-columns: span 2;">Share</button>
  </form>
  <% if(locals.filelink !=null) { %>
    <div style="margin: 1rem; display: grid; grid-template-rows: auto 1fr; max-width: 500px; margin: auto;">
      <h2 style="margin-top: 20px ;">File Uploaded</h2>
      <p>Link: <a href="<%= locals.filelink %>">
          <%= locals.filelink %>
        </a>
      </p>
    </div>
    <% } %>
</body>

</html>